{% extends "common/base.html" %}
{% block content %}
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message animated zoomIn">
          <h1>Padakosham</h1>
          <h3>A Product of IT@school</h3>
          <ul class="list-inline login-buttons">
            <li class="display-inline">
              <a href="{% url 'login' %}"><button type="submit" class="btn btn-success btn-lg white">Login</button></a>
            </li>
            <li class="display-inline">
              <a href="{% url 'register' %}"><button type="submit" class="btn btn-success btn-lg white">Sign Up</button></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
