.vertical-center{
  position: relative;
  top: 25%;
  transform: translateY(-50%);
}

.login-page {
  background: #01458E;
  height: 100vh;
}

.white{
  color: white;
}
ul.errorlist {
    color: aqua;
}
.login-heading{
  margin-top: 200px;
  margin-bottom: 50px;
}


.marginZero {
  margin: 0px;
}

body {
  height: 100vh;
}

.site-logo{
  padding: 10px;
}


.dynamicReport {
  background: lightgray;
  height: calc(100vh - 52.03px);
}


.center {
    text-align: center;
    top: 25%;
    position: relative;
}

.body {
  height:100vh;
}

.hcs {
  margin-bottom: -22px;
  font-size: 80px;
}

.hmain {
  color: #0d7fa8;
}

.p 
{
  color: grey;
}
.highlighten
{
  font-weight: bolder;
  font-size: 16px;
  color: grey;
}
.inc{
  margin: 0px;
}
.heightfill{
  height:calc(100vh - 52px);
}
.st {
  background-image: url("../images/st-reg1.jpg") ;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: calc(100vh);
}
.st-body {
  
    text-align: center;
    top: 40%;
    position: relative;

}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: #01458E;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.login-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.login-buttons > li:last-child {
        margin-bottom: 0;
    }
}

.login-page {
    background: #01458E;
}

.vh100 {
    height: 100vh;
}

.login_page-links {
  color: #5cb85c;
}

.login_page-links:hover {
  color: white;
}